{% extends 'our_template.html' %}

{% block name %}
start_page
{% endblock %}

{% block content%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Шлях</th>
      <th scope="col">Cтанції</th>
    </tr>
    <tbody>
{% for object in ways %}
<tr>
    <th width="10%"><a href="{% url 'ways' id=object.id %}">{{object.name}}</a></th>
    <th width="10%">{{object.stations.all|join:"-"}}</th> 
 
</tr>
{% endfor %}
</tbody>
</table>










{% endblock %}
