
{% extends 'our_template.html' %}
{% block title %}
Список наявних квитків
{% endblock %}
{% block name %}
start_page
{% endblock %}

{% block content%}
<style>
.alert {
  padding: 20px;
  background-color: #ff9800;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
                    {% if request.user.is_authenticated %}
                    {% else %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        <strong>Увага!</strong> Для того щоб здійснити купівлю квитка, потрібно бути авторизованим!!!
                    </div>
                        {% endif %}

<div class="album py-1 bg-light">

<div class="container">
    <div class="row">
{% for ticket in tickets %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://i.pinimg.com/originals/84/65/ae/8465aebbd4c3ffff1e391d43928ccef0.jpg" data-holder-rendered="true">
                <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">Квиток до {{ticket.destination}}</strong>
                <div class="mb-1 text-muted">Дата відправки: {{ticket.date_purchase}}</div>
                  <p class="card-text">Станції, через які курсує потяг:{{ticket.destination}}</p>
                  <class class="d-inline-block mb-2 text-primary">Тип квитка {{ticket.type_of_ticket}}</class>
                  <p class="card-text mb-auto">Ціна:{{ticket.price}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    {% if request.user.is_authenticated %}
                      <a href="{% url 'download' id=ticket.id %}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Придбати</button>
                      </a>
                    {% endif %}
                        <a href="{% url 'ticket_filter' destination=ticket.destination %}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Переглянути наявні місця</button>
                    </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}
    </div>
</div>
</div>

{% endblock %}
