
{% extends 'our_template.html' %}

{% block name %}
start_page
{% endblock %}

{% block content%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">train_number</th>
      <th scope="col">Name</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
    </tr>
    <tbody>
<tr>
    <th width="5%">{{ticket.number}}</th>
    <th width="10%">{{ticket.price}}</th>
    <th width="10%">{{ticket.date_purchase}}</th>
    <th width="10%">{{ticket.destination}}</th>
    <th width="10%">{{ticket.type_of_ticket}}</th>
</tr>
</tbody>
</table>










{% endblock %}